.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  height: 40px;
  width: 40px;
  border: 2px solid #000;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
  user-select: none;
  background: #48e;
  box-shadow: 1px 1px 1px #000;
}

.number { background: #48e;}
.number:hover { background: rgb(39, 78, 136)}

.clear-button { color: #fff; background: #c90505; }
.clear-button:hover { background: #720101; }

.operator { background: #6fad0a; }
.operator:hover { background: #3d6104; }